@import "vendor/include-media";
@import "vendor/reset";
@import "vendor/swiper-bundle.min";

@import "core/mixins";
@import "core/variables";
@import "core/fonts";
@import "core/general";
@import "core/typography";


@import "layout/header";
@import "layout/footer";

@import "components/links";
@import "components/button";
@import "components/nav";
@import "components/page-nav-popup";

@import "blocks/main-slider";
@import "blocks/principles-popup";

@import "pages/biomachine";
@import "pages/vacancies";
@import "pages/academy";


.scroll-lock-container {
  position: relative;
  height: 300vh; /* 3 times the viewport height to accommodate 3 blocks */
}

.scroll-lock-section {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-gif {
  position: fixed; /* Fixed position to stay visible during scroll */
  left: 0;
  top: 0;
  height: 10vh;
  z-index: -1; /* Behind the content */
}

.content {
  z-index: 10; /* Above the GIF image */
  text-align: center;
}


.academy-join {
  margin: auto;
	// background: linear-gradient(180deg,#020202 0,#040f1c 100%);
  height: 100%;
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.academy-join-title {
	width: 100%;
	text-align: center;
}

.academy-join-title h2 {
  text-transform: uppercase;
	font-weight: 700;
	font-size: 88px;
	line-height: 84.48px;
	letter-spacing: calc(1em / 50);
	text-decoration: underline;
	color: #99999D;
}

.academy-join-title p {
	color: #F1F1F1;
}

.academy-join-title p:last-child {
	margin: 20px 0 0 0;
	color: #99999D;
}


.slider {
  padding: 32px;
  margin-bottom: 64px;
  margin-top: 64px;
  color: #fff;

  overflow-x: auto;
  background: radial-gradient(circle at center,#061322 10%,#000 50%);

  --mask: linear-gradient(to top, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
  rgba(0,0,0, 0) 110%, rgba(0,0,0, 0) 10%
  ) 100% 50% / 100% 100% repeat-x;

    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);
    
  h3 {
    font-size: 2vw;
  }

  p {
    font-size: 1vw;
  }

  @media (max-width: 920px) {
    --mask: none;

    h3 {
      font-size: 22px;
    }
  
    p {
      font-size: 14px;
    }
  
  }


}
.slider .swiper-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory; 

  @media (max-width: 920px) {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory; 

  }
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}

.slider__images {
  height: 30vw;
  overflow: auto;

  --mask: linear-gradient(to bottom, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
  rgba(0,0,0, 0) 105%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;

    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);

}
.slider__image {
  width: 90%;
  height: 90%;
  border-radius: 30px;
  display: flex;
  align-items: center;

  justify-content: space-around;

  scroll-snap-align: start; /* Элементы будут выравниваться по верхней части контейнера */
  scroll-snap-stop: always; /* Заставляем прокрутку останавливаться на этом элементе */

}
.slider__image img {
  display: block;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}


.step {
  width: 100px;
  height: 100px;
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  background-color: cream;
}

.v-stepper {
  display: flex;
  position: relative;
  width: 5vw; // Diameter of the circle
  height: 5vw; // Diameter of the circle
  font-size: 2vw;
  background-color: #081A2F;
  border-radius: 50%;
  color: white;/*   visibility: visible; */
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 2vw #061322;
  
}

.line {
    z-index:-100;
    height: 55vh;
    position: absolute;
    border-left: 1px dashed #99999D;
    overflow: hidden; /* Добавляем, чтобы скрыть излишек псевдоэлемента */

}


.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}
/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px;    /* +6 for border */
  height: 20px;
  display: inline-block;
}


@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 380px;
    height: 500px;

    --mask: none;
  }


  .slider__image{
    flex-direction: column;

   & > img {
    padding-bottom: 24px;
   }
  }

  .v-stepper {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-self: flex-start;
    left: 34px;
    font-size: 16px;
    box-shadow: 0px 0px 11px 14px #081A2F;
  }

  .line {
    z-index:-100;
    width: 1100%;
    height: 1px;
    position: absolute;
    border-left:none;
    border-top: 1px dashed #99999D;
    left: 27px;
    --mask: linear-gradient(to right, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
  
      font: 2em/1.6em Arial;
      -webkit-mask: var(--mask); 
      mask: var(--mask);
  }

  .slider__image-text{
    padding-top: 32px;
    
  }
}